.similar-card {
    border: 1px solid #e8e8e8;
    height: 10rem;
    font-weight: 500;
    font-size: 16px;
    background:  #fff;
    border-radius: 2px 2px 0 0;

    &__box {
        display: flex;
    }
    
    &__title {
        margin: 0;
        padding: 10px 20px;
        border-bottom: 1px solid #e8e8e8;
    }

    &__content {
        padding: 10px 20px;
        width: 80%;
        margin: 0;
    }

    &__count {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin: 0;
        color: red;
    }
}