/* Mixin to handle the vendor property for the toast display animation */
@mixin toastDisplayMixin($initialProperty, $finalProperty) {
    -webkit-animation: $initialProperty, $finalProperty;
    -moz-animation: $initialProperty, $finalProperty;
    animation: $initialProperty, $finalProperty;
}

@mixin phone {
    @media only screen and (max-width: 640px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: 1080px) {
        @content;
    }
}