
#search-report-type .search-report-dropdown{
    width: 20rem;
    display: block;
}

.search-report-container{
    margin-top: 5rem;
    width: 50%;

    @media (max-width: 900px) {
        width: 100%;
    }

    @media (max-width: 1440px) and (min-width: 901px) {
        width: 80%;
    }
}

.form-group {
    position: relative;
    margin-bottom:2.5rem;
}
  
.form__input {
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;

    &:focus {
        border:none;	
        outline:none;
        border-bottom:1px solid #1890ff;
    }

    &-date {
        width: 100%
    }
}
  
.form__label {
    position:absolute;
    top:0px;
    left:0px;
    font-size:1rem;	
    pointer-events:none;
    transition: all 0.2s ease-in-out;

    &-date {
        display: block;
        font-size: 1rem;
        margin-bottom: 0.7rem;
    }
}

.form-group input:focus ~ label,
.form-group input:valid ~ label{
    top:-12px;
    font-size:12px;      
}