@import url('https://fonts.googleapis.com/css?family=Muli');
@import 'vendors/argon//scss/argon-dashboard-react.scss';
@import '~antd/dist/antd.css';
@import 'base/base';
@import 'base/animations';
@import 'base/typography';
@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'components/passwordStrengthComponent';
@import 'components/confirmModalConfirmation';
@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/toast';
@import 'pages/dashboardPages';
@import 'pages/pageNotFound';
@import 'pages/searchReport';
@import 'pages/signUp'
